.root {
	-fx-border-color: transparent;
}

#spAnchorPane {
	-fx-background-color: #444;
	-fx-padding: 0.0;
	-fx-background-insets: 0.0, 0.0;
  	-fx-border-width: 0.0;
  	-fx-background-color: #444;
}

#spAnchorPane .button {
	-fx-background-color: #555;
	-fx-text-fill: #fff;
}

#mainAnchorPane {
	-fx-background-color: #444;
}

/* Text Appearance pane */
#pnlTextAppearance {
	-fx-background-color: #444;
	-fx-text-fill: #444;
}

#pnlTextAppearance .label {
	-fx-text-fill: #eee;
}

#pnlTextAppearance #lblTxtAppeaSize {
	-fx-text-fill: #bbb;
}
#pnlTextAppearance #lblTxtAppeaFont {
	-fx-text-fill: #bbb;
}

#chcbxNewFont {
	-fx-background-color: rgba(255,255,255,0.1);
	-fx-mark-color: black;
}

#chcbxNewFont .context-menu {	
	-fx-background-color: #444;
}

#chcbxNewFont .menu-item:focused {
	-fx-background-color: rgba(100,100,100,0.4);
}

#chcbxNewFont .menu-item > .label {
	-fx-text-fill: #eee;
}

#chcbxNewFont > .label {
	-fx-text-fill: #eee;
}
 
#fldNewSize {
 	-fx-background-color: rgba(100,100,100,0.4);
 	-fx-text-fill: #eee;
 }
 
#sldrNewSize > .track {	
 	-fx-control-inner-background: #777;
 	-fx-background-insets: 0; 
 }
 
 /* Java Home pane */
#pnlJavaHome {
	-fx-background-color: #444;
}

#pnlJavaHome .label {
	-fx-text-fill: #eee;
}

/* Theme pane */

#pnlTheme {
	-fx-background-color: #444;
}

#pnlTheme #lblDarkModeTxt {
	-fx-text-fill: #222;
}

#lblDarkMode {
	-fx-text-fill: #222;
	-fx-font-size: 16px;
}

#toggleDarkMode .thumb{
	 -fx-background-color: #888;
}

#toggleDarkMode .thumb-area {
    -fx-background-color: purple;
}

#toggleDarkMode:selected .thumb-area {
    -fx-background-color: orange;
}

/* Support pane */
#pnlSupport {
	-fx-background-color: #444;
}

#pnlSupport .hyperlink {
	-fx-text-fill: #eee;
	-fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-underline: false;
}

#pnlSupport .hyperlink:hover {
	-fx-text-fill: #fff;
}

.paneHeader {
	-fx-text-fill: #bbb;
	-fx-font-size: 16px;
}